<mat-form-field appearance="outline" class="full-width">
  <mat-label>{{ label }}</mat-label>

  <input matInput [type]="inputType" [formControl]="control" [placeholder]="placeholder" />

  @if (icon) {
  <mat-icon matPrefix>{{ icon }}</mat-icon>
  } @if (showPasswordToggle) {
  <button
    mat-icon-button
    matSuffix
    type="button"
    (click)="togglePasswordVisibility()"
    [attr.aria-label]="'Alternar visibilidade da senha'"
  >
    <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
  </button>
  }

  <!-- Mensagens de erro -->
  @if (control.hasError('required')) {
  <mat-error>{{ label }} é obrigatório</mat-error>
  } @if (control.hasError('email')) {
  <mat-error>Email inválido</mat-error>
  } @if (control.hasError('minlength')) {
  <mat-error
    >{{ label }} deve ter no mínimo
    {{ control.errors?.['minlength'].requiredLength }} caracteres</mat-error
  >
  } @if (control.hasError('passwordStrength')) {
  <mat-error
    >Senha precisa ter pelo menos uma letra maiúscula, um número e um caractere especial</mat-error
  >
  } @if (control.hasError('passwordMismatch')) {
  <mat-error>As senhas não conferem</mat-error>
  }
</mat-form-field>
